# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# IDE
.vscode/

# Logs
*.log

# OS
.DS_Store

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Secrets
*.pem
*.key